.portfolio, .service, .about, .contact {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 160px;
}

.jumbotron {
    background-image: url(assets/img/computer.jpg);
    background-size: cover;
    height: 620px;
    margin-top: 50px;
}

.jumbotron .display-4 {
    margin-top: 150px;
    margin-left: 520px;
    font-size: 42px;
    font-weight: bold;
}

.jumbotron .lead {
    margin-left: 520px;
}

.jumbotron hr {
    margin-left: 520px;
    width: 600px;
}

.jumbotron .btn {
    margin-left: 520px;
}

.card {
    width: 20rem;
    margin-top: -150px;
    margin-left: 50px;
}

.card .display-4 {
    font-size: 35px;
}

hr {
    width: 100px;
    border-top: 3px solid red;
    margin-top: -55px;
}

.col-md-3 hr {
    margin-left: 70px;
    margin-top: -20px;
}